<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My EDA Project</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

  <!-- favicon -->
  <link href="{% static 'free-bar-chart-icon-676-thumb.png' %}" rel="shorcut icon">

  <!-- Jquery -->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Font_Awesome -->
  <script src="https://kit.fontawesome.com/5f3e222d81.js" crossorigin="anonymous"></script>

  <style>
    .back-to-top {
      cursor: pointer;
      position: fixed;
      bottom: 20px;
      right: 20px;
      display:none;
      color: #fff;
      background-color: lightgray;
      border-color: lightgray;
    }
  </style>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">US Health Insurance Dataset Analysis</div>
      <div class="list-group list-group-flush">
        <a href="" class="list-group-item list-group-item-action bg-light" name="1" style="background-color: #dae0e5!important;">Data Set에 대한 설명</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" id="list-group-item" name="2">전반적인 데이터 분석</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" id="list-group-item" name="3">데이터 상관관계 분석 Ⅰ</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" id="list-group-item" name="4">데이터 상관관계 분석 Ⅱ</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" id="list-group-item" name="5">데이터 상관관계 분석 Ⅲ</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" id="list-group-item" name="6">데이터 검증</a>
        <a href="#" class="list-group-item list-group-item-action bg-light" id="list-group-item" name="7">(Appendix) DIY Graph !</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Hide</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="">홈 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/Ting-Kim"><i class="fab fa-github"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                더보기
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <!-- <a class="dropdown-item" href="#">관리자에게 한마디</a> -->
                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                  Launch demo modal
                </button> -->
                <a href="#myModal" class="dropdown-item" data-toggle="modal" data-target="#myModal">
                  관리자에게 한마디
                </a>
                <a class="dropdown-item" href="{% url 'eda:profile' %}">관리자 프로필</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://programmers.co.kr/"><img src="{% static 'eda/programmers_logo.png' %}" style="width:80%; height: 80%"></a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!--  EDA Results 넣을 곳   -->
      {% autoescape off %}
      <div class="container-fluid">
        <h1 class="mt-4">US Health Insurance Dataset</h1>
        <p>Data Set에 대한 소개는 <a href="https://www.kaggle.com/teertha/ushealthinsurancedataset">여기</a>를 참조해주세요.</p>
        <hr>
        <h4>Data Set 선정 이유</h4>
        <hr>
        <ul>
          <li>다룰 수 있는 데이터 타입</li>
          <li>유추할 수 있는 맥락</li>
          <li>추천 시스템</li>
        </ul>
        <p>본 데이터셋을 선정한 이유는 크게 3가지입니다.
          데이터를 다룬 경험이 많지 않기에 실습에서 다룰 수 있는 데이터 타입을 가진 데이터셋을 선정해야 했습니다.
          또한, 데이터 분석의 결론을 내는 것을 중요하다고 생각하여, 데이터 속성의 종류가 너무 많은 경우 제외하였습니다.
        </p>
        <p>
          데이터 속성 간 관계를 유추할 수 있는 데이터셋을 선정하였습니다. 데이터에 대한 배경지식이 있을 경우,
          신뢰성 있는 가설을 세우는 등 전반적인 데이터 분석에 많은 도움이 되기 때문입니다.
        </p>
        <p>
          추후 AI 기반 추천 시스템을 구현하고 싶은 생각을 가지고 있습니다.
          추천 시스템과 관련해서 쉽게 생각할 수 있는 주제가 보험, 금융, 광고 등인데,
          데이터 분석이 보험에 가장 큰 효력을 발휘할 것 같다고 생각했습니다.
        </p>
        <br>
        <hr>
        <br>
        <h4>데이터 변수 종류</h4>
        <div>
          <table class="table">
            <thead>
              <th scope="col">#</th>
              <th scope="col">변수명</th>
              <th scope="col">설명</th>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>age</td>
                <td><code>&#60;type:int&#62;</code>, 표본의 나이</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>sex</td>
                <td><code>&#60;type:object&#62;</code>, 표본의 성별 ( <em>'male' / 'female'</em> )</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>bmi</td>
                <td><code>&#60;type:float&#62;</code>, 표본의 <a href="https://namu.wiki/w/BMI">bmi</a> 수치</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>children</td>
                <td><code>&#60;type:int&#62;</code>, 건강 보험이 적용되는 자녀 및 부양 가족 수</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>smoker</td>
                <td><code>&#60;type:object&#62;</code>, 흡연 여부 ( <em>'yes' / 'no'</em> )</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>region</td>
                <td><code>&#60;type:object&#62;</code>, 표본(보험 가입자)의 거주지</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>charges</td>
                <td><code>&#60;type:float&#62;</code>, 'Individual medical costs billed by health insurance.' 라고 설명되어 있는데, <br>
                  개인이 지불하는 건강 보험료 금액인지 부양 가족을 포함하여 1인당 납부하는 금액인지 모호하다.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <br>
          <!-- {% autoescape off %} -->
          <b>상단값 확인 (5)</b>
          {{ head }}
          <br>
          <b>하단값 확인 (5)</b>
          {{ tail }}
          <!-- {% endautoescape %} -->
          <br>
          <br>
          <h4>✏ 가설 세워보기</h4>

          <ul>
            <li><code>age, bmi</code>가 높고 (<code>smoker</code>=='yes')인 경우 <code>charges</code>가 높지 않을까?</li>
            <li>(<code>sex</code>=='male')인 경우가 <code>smoker</code>의 비중이 높지 않을까?</li>
            <li><code>children</code>이 많을수록 더 높은 <code>charges</code>를 가지지 않을까?</li>
          </ul>
          <br>
          <br>
          <br>
        </div>
      </div>
      <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <span class="glyphicon glyphicon-chevron-up"><i class="far fa-caret-square-up"></i></span>
      </a>
      </div>
      <!-- /#container-fluid -->
      {% endautoescape %}
    <!-- /#page-content-wrapper -->

      <!--  EDA Results 넣을 곳   -->

  </div>
  <!-- /#wrapper -->

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">👨🏻‍💻 관리자에게 한마디</h4>
        </div>
        <div class="modal-body">
          <!-- <p>One fine body&hellip;</p> -->
          <form method="POST" action="{% url 'eda:letter' %}">{% csrf_token %}
            이름 : <br>
            <input type="text" name="name" maxlength="20"><br>
            내용 : <br>
            <textarea placeholder="자유롭게 작성해주세요" name="content" cols="60" rows="5"></textarea>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <input type="submit" class="btn btn-primary"></button>
              </div>
            </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $(".list-group-item").on('click',function(e){
      var num = $(this).attr('name');
      if (num == 1){
        document.getElementsByName("1")[0].setAttribute('style', 'background-color:#dae0e5!important;')
        return
      }
      if (num == 7){
        alert("준비 중인 서비스입니다 :)")
        return
      }
      document.getElementsByName("1")[0].setAttribute('style', 'background-color:#f8f9fa!important;')
      e.preventDefault();
      console.log(num);
      console.log(this);
      $.ajax({
        url: "{% url 'eda:eda' %}",
        type:"POST",
        data:{"num":num, "csrfmiddlewaretoken":'{{ csrf_token }}'},
        dataType: "json",
        success: function(response){
          // alert("통신 Success!");
          $(".container-fluid").html(response['html']);
            
          },
        error: function(request, status, error){
          alert(error);
          document.body.innerHTML = "<b>code = " + request.status + "<br> message = </b>" + request.responseText;
        },
      })
    });

    $(document).ready(function(){
     $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }
      });
        // scroll body to 0px on click
      $('#back-to-top').click(function () {
        $('#back-to-top').tooltip('hide');
        $('body,html').animate({
          scrollTop: 0
        }, 800);
          return false;
        });
        
      $('#back-to-top').tooltip('show');

    });

    // $('#myModal').modal({
    //   keyboard: false
    // })
    // $('#myModal').on('shown.bs.modal', function () {
    //   $('#myInput').focus()
    // })
  </script>

</body>

</html>
